.orange-bg
{
    background-color: #fceae8;
   
}
.carousel-item
{
    padding: 20px 40px;
    
}
.per
{ 
    color: hotpink;
}
.buy
{
    background-image: linear-gradient(to bottom,#ff589B 0%,#ff136f 100%);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;

}
.container
{
    margin-bottom: 100px;
}
.cat1
{
    background-color:orange ;
    padding: 10px 30px;
}
.cat2
{
    background-color:purple ;
    padding: 10px 30px;
}
.cat3
{
    background-color:blue ;
    padding: 10px 30px;
}
.cat1,.cat2,.cat3{
    border-radius: 15px;
}
.categories h1{
    color: white;

}
.categories img{
    width: 100px;
}